<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.water.waterreminder">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.water.waterreminder.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.water.waterreminder.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginButtonCustom"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Switch" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation"
            android:label="Profile Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.part.CountryActivity"
            android:label="@string/title_activity_country" />
        <activity
            android:name=".register.part.RegisterSecondActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".register.part.RegisterMainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity
            android:name=".register.part.RegisterThirdActivity"
            android:label="@string/title_activity_register_third"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GraphActivity"
            android:screenOrientation="sensorLandscape" />

        <service
            android:name=".notification.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".notification.NotificationEventReceiver" />
        <receiver android:name=".notification.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
